// referring to the ./page/index.tsx file which is the main home page

// * breakpint of > 400px
.container {
  // padding: 0 5rem;
  padding: 0px 0% 0 25%;
  margin: 0;

  .blueBackground {
    border-radius: 31% 55% 48% 52% / 0% 0% 100% 21%;
    height: 157px;
    width: 100% !important;
    background-color: #08174d;
  }

  .mainAccordian {
    width: 80vw;
    position: absolute;
    left: 10vw;
    margin-top: 0.5rem;
    // border-radius: 30px;
    // border: 2px green solid;
  }

  .accordianUl {
    list-style: none;
    // width: 80vw;
    // position: absolute;
    // left: 10vw;
    // border: none;
    // border-radius: 30px;
  }

  .accordianLi {
    // display: block;
    margin-bottom: 2rem;
    // padding: 0.5rem;
    list-style: none;
    border-radius: 15px;
    // border: red 2px solid;
    box-shadow: 0 3px 9px 9.5px #ddd;
    // height: 60px;
    // padding-left: 1rem;
  }

  // * breakpint of > 500px
  // @media screen and (min-width: 500px) {
  // } // breakpoint of > 500px

  // * breakpint of > 576px
  // @media screen and (min-width: 576px) {
  // } // breakpoint of > 576px

  // * breakpint of > 768px
  @media screen and (min-width: 768px) {
    padding: 0 10% 0 10%;
  } // breakpoint of > 768px

  // * breakpint of > 992px
  // @media screen and (min-width: 992px) {
  // } // breakpoint of > 992px

  // * breakpint of > 1200px
  // @media screen and (min-width: 1200px) {
  // } // breakpoint of > 1200px

  // * breakpint of > 1400px
  // @media screen and (min-width: 1400px) {
  // } // breakpoint of > 1400px
}
