// * breakpint of > 360px
.accordianBox {
  .accordianH {
    position: relative;
  }

  .accordianHeader {
    background-color: #5378eb;
    border-radius: 15px 15px 0 0;
  }

  .titleH {
    font-weight: 600;
    font-size: 20px;
    position: relative;
  }

  // title text
  .titleText {
    color: #08174d;
    display: inline-block;
    position: absolute;
    top: -17px;
    margin-left: 1px;
    width: 160px;
  }

  .titleHclick {
    color: white;
  }

  .minH {
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 22px;
    right: 53px;
    color: white;
  }

  .closeArrow {
    color: #08174d;
    font-size: 3rem;
    font-weight: 600;
    top: -11px;
    right: 19px;
    position: absolute;
  }

  // when list is open, rotate & change color of arrow
  .openArrow {
    color: white !important;
    transform: rotate(90deg);
    top: -4px;
  }

  .circle {
    margin-left: 20px;
    margin-top: 22px;
    font-size: 5rem;
    color: #e1e0ea;
    line-height: 0;
  }

  .bodyUl {
    list-style: none;
    padding: 0;
  }

  .bodyLi {
    border-bottom: #e1e0ea 1px solid;
    height: 36.2px;
  }

  .optionsTextP {
    font-weight: 600;
    font-size: 20px;
    position: relative;
  }

  .optionsText {
    color: #08174d;
    display: inline-block;
    position: absolute;
    top: -8px;
    margin-left: 60px;
    width: 200px;
  }

  .liArrowParent {
    position: relative;
  }

  .liArrow {
    color: #08174d;
    font-size: 3rem;
    font-weight: 600;
    top: -34px;
    right: 23px;
    position: absolute;
  }

  // * breakpint of > 400px
  @media screen and (min-width: 400px) {
    // title text
    .titleText {
      margin-left: 18px;
    }

    .optionsText {
      margin-left: 74px;
    }
  } // breakpoint of > 400px

  // * breakpint of > 500px
  // @media screen and (min-width: 500px) {
  // } // breakpoint of > 500px

  // * breakpint of > 576px
  // @media screen and (min-width: 576px) {
  // } // breakpoint of > 576px

  // * breakpint of > 768px
  // @media screen and (min-width: 768px) {
  // } // breakpoint of > 768px

  // * breakpint of > 992px
  // @media screen and (min-width: 992px) {
  // } // breakpoint of > 992px

  // * breakpint of > 1200px
  // @media screen and (min-width: 1200px) {
  // } // breakpoint of > 1200px

  // * breakpint of > 1400px
  // @media screen and (min-width: 1400px) {
  // } // breakpoint of > 1400px
}
