// * breakpoint from 400px to 575px

.header {
  height: 157px;
  width: 100% !important;
  padding: 0;

  .blueBackground {
    border-radius: 31% 55% 48% 52% / 0% 0% 100% 21%;
    padding-top: 1.25rem;
  }

  .arrowBox {
    // background-color: white;
    // border-radius: 50%;
    // padding: 1rem;
    // font-size: 2.5rem;
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
    margin: 0 2rem 0 -2rem;

    .arrow {
      font-size: 1.7rem;
      position: absolute;
      left: 0;
      transform: translate(25%, -10%);
    }
  }

  .badgeOne {
    background-color: rgba(58, 130, 247, 0.5);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: end;
  }

  .badgeTwo {
    background-color: rgba(255, 45, 45, 0.3);
    padding-left: 0.5rem;
    padding-right: 12px;
    text-align: end;
  }
}

// * breakpint of > 576px
// @media screen and (min-width: 576px) {
//   .blueBackground {
//     width: 25%;
//   }
// } // breakpoint of > 576px

// * breakpint of > 768px
@media screen and (min-width: 768px) {
  .header {
    height: 217px;

    .blueBackground {
      width: 45%;
    }

    .badgeOne {
      width: 236px;
    }

    .badgeTwo {
      width: 236px;
    }

    .step3 {
      font-size: 0.8rem;
      padding-left: 0.5rem;
      padding-right: 6.4rem;
    }
  }
} // breakpoint of > 768px

// * breakpint of > 992px
// @media screen and (min-width: 992px) {
// } // breakpoint of > 992px

// * breakpint of > 1200px
// @media screen and (min-width: 1200px) {
// } // breakpoint of > 1200px

// * breakpint of > 1400px
// @media screen and (min-width: 1400px) {
// } // breakpoint of > 1400px
