// * breakpoint from 400px to 575px

.header {
  height: 157px;
  width: 100% !important;
  padding: 1.25rem 0;
  margin: 0;
  color: white;

  // blue backbround
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0px;
    background-color: #08174d;
    border-radius: 31% 55% 48% 52% / 0% 0% 100% 21%;
    width: 100vw;
    height: 157px;
    z-index: -1;
  }

  .juneHeading {
    color: white;
  }

  .arrowBox {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    margin: 0 2rem 0 -3rem;

    .arrow {
      font-size: 1.7rem;
      position: absolute;
      left: 0;
      transform: translate(25%, -10%);
    }
  }

  .badgeOne {
    background-color: rgba(58, 130, 247, 0.5);
    display: inline-block;
    padding: 0 0.5rem;
    position: relative;
  }

  .badgeTwo {
    background-color: rgba(255, 45, 45, 0.3);
    display: inline-block;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
  }

  .badgeP {
    padding-left: 1.5rem;
  }

  // calendar image
  .badgePone:before {
    content: url("../../public/calendar15x15.png");
    display: inline;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 10px;
  }
}

// * breakpint of > 576px
// @media screen and (min-width: 576px) {
// } // breakpoint of > 576px

// * breakpint of > 768px
@media screen and (min-width: 768px) {
  .header {
    width: 40%;
    padding-top: 1rem;

    // blue background
    &::before {
      content: "";
      position: absolute;
      top: 58px;
      left: 0;
      width: 51vw;
      height: 175px;
      z-index: -1;
    }

    .step3 {
      font-size: 0.7rem;
    }
  }
} // breakpoint of > 768px

// * breakpint of > 992px
@media screen and (min-width: 992px) {
  .header {
    &::before {
      content: "";
      position: absolute;
      top: 58px;
      left: 0;
      width: 41vw;
      height: 175px;
      z-index: -1;
    }

    .step3 {
      padding-right: 9.4rem;
    }
  }
} // breakpoint of > 992px

// * breakpint of > 1200px
@media screen and (min-width: 1200px) {
  .header {
    .step3 {
      padding-right: 11rem;
    }
  }
} // breakpoint of > 1200px

// * breakpint of > 1400px
// @media screen and (min-width: 1400px) {
// } // breakpoint of > 1400px
