// * breakpint of > 400px
.header {
  height: 55px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  display: flex;
  font-size: 0.9rem;

  .arrowBox {
    background: rgba(246, 252, 255, 1);
    width: 35px;
    height: 35px;
    display: inline-block;
    border: rgba(0, 0, 0, 1);
  }

  .arrow {
    font-size: 1.7rem;
    position: absolute;
    transform: translate(25%, -10%);
    color: rgba(0, 0, 0, 1);
  }

  .muteClaim,
  .greaterThan,
  .juneDate {
    margin: 0px 0px 0px 15px;
  }

  // * breakpint of > 500px
  // @media screen and (min-width: 500px) {
  // } // breakpoint of > 500px

  // * breakpint of > 576px
  // @media screen and (min-width: 576px) {
  // } // breakpoint of > 576px

  // * breakpint of > 768px
  // @media screen and (min-width: 768px) {
  // } // breakpoint of > 768px

  // * breakpint of > 992px
  // @media screen and (min-width: 992px) {
  // } // breakpoint of > 992px

  // * breakpint of > 1200px
  // @media screen and (min-width: 1200px) {
  // } // breakpoint of > 1200px

  // * breakpint of > 1400px
  // @media screen and (min-width: 1400px) {
  // } // breakpoint of > 1400px
}
